{% extends 'base.html.twig' %}

{% block title %}
    Liste des Livres
{% endblock %}

{% block body %}

    <h1>Liste des Livres</h1>

    <div class="book-container">
        {% for livre in livres %}
            <a href="{{ path('app_liste_livre', {'id': livre.id}) }}">
                <div class="book-card">
                    <div class="book-title">{{ livre.titre }}</div>
                    <div class="book-author">Auteur : {{ livre.auteur.nom }} {{ livre.auteur.prenom }}</div>
                    <div class="book-description">{{ livre.resume | slice(0, 100) }}{% if livre.resume|length > 100 %}...{% endif %}</div>
                </div>
            </a>
        {% else %}
            <p>Aucun livre trouvé.</p>
        {% endfor %}
    </div>
{% endblock %}
